:root[
--primary:#b6895b;
--bg:010101;
}
*{
margin 0
padding : 0;
box-sizing = bonder - box;
outline: none ;
border: none ;
text-decoration:none;
}

body{
font-family:"poppins;sans-sarif;
background-color:var(--bg);
color:#fff;
]

/*Navbar*/
.navbar{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padling:1.4rem 7%;
  background-color #6b6bf5;
  border-botton 1px #e98ffa 
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:9999;
  .navbar.navbar-logo{}
  font-size: 2rem;
  font-weight: 700;
  color: #b03939
}
.navbar.navbar-logo span{
  color :(var--primary);
}


.navbar .navbar-nav a after {
  content: ;
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var--primary;
  transform: scalex (0);
}

.navbar .navbar-nav a:hover::after{
transform: scalex (0);
transition: 0.2s linear;
  
}
.navbar.navbar-extra a{
  color: white;
  margin: 0 0.5rem;
}
.navbar.navbar-extra a: hover{
  color: var--primary;
  #kelas-tahfidz{
  position: absolute;
  top : 100%;
  right: -100%;
  background: white;
  width :30rem;
  height: 100vh;
  }

.navbar .navbar-nav .active
right : 0;
/*media queries*/

/*leptop*/
@media(max-width:1366px){
 html{
   font-size: 75%;
 } 
}
/*tablet*/
@media(max-width: 768px){
 html{
   font-size: 62.5%;
/*mobile phone*/
@media(max-width:1450px){
 html{
   font-size: 55%;


